<table class="table">
  <thead>
    <tr class=" table-secondary clickable">
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Especialidad</th>
      <th scope="col">Telefono</th>
      <th scope="col">Email</th>
      <th scope="col">Estado</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listDoctores">  
      <td>{{item.id}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.especialidad}}</td>
      <td>{{item.telefono}}</td>
      <td>{{item.email}}</td>
      <td>{{item.estado}}</td>
      <td class="align-midle text-end">
        <button type="button" class="btn btn-outline-success mx-2" (click)="onGoToDetail(item)">Detalle</button>
        <button type="button" class="btn btn-outline-warning mx-2" (click)="onGoToEdit(item)">Editar</button>
        <button type="button" class="btn btn-outline-danger mx-2" (click)="onGoToDelete(item)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>