<div class="mx-2 my-3 cil-md-1">
    <button type="button" class="btn btn-outline-primary" (click)="onGoBack()">REGRESAR</button>
</div>

<form #doctorForm="ngForm" (ngSubmit)="onSave(doctorForm.value)">
    <div class="row">
        <h4>Nuevo Registro</h4>
    </div>

    <div class="col-md-2 py-2">
        <label form="doctorNombre">Nombre</label>
        <input id="doctorNombre" type="text" name="nombre" class="form-control shadow-none" #nombre="ngModel" ngModel
            [ngClass]="{'is-valid': !nombre.invalid, 'is-invalid': nombre.invalid}" maxlength="400" required="" />
        <div class="invalid-feedback">
            <div *ngIf="'name.errors.length'">
                Solo se pueden introducir un maximo de 400 caracteres
            </div>
        </div>
    </div>
    <div class="col-md-2 py-2">
        <label form="doctorEspecialidad">ESPECIALIDAD</label>
        <input id="doctorEspecialidad" type="text" name="especialidad" class="form-control shadow-none"
            #especialidad="ngModel" ngModel
            [ngClass]="{'is-valid': !especialidad.invalid, 'is-invalid': especialidad.invalid}" maxlength="100"
            required />

    </div>
    <div class="col-md-2 py-2">
        <label form="doctorTelefono">TELEFONO</label>
        <input id="doctorTelefono" type="text" name="telefono" class="form-control shadow-none" #telefono="ngModel"
            ngModel [ngClass]="{'is-valid': !telefono.invalid, 'is-invalid': telefono.invalid}" maxlength="9"
            required />
        <div class="invalid-feedback">
            <div *ngIf="'name.errors.length'">
                Ingrese solo 9 caracteres como numero de telefono
            </div>
        </div>
    </div>
    <div class="col-md-2 py-2">
        <label for="doctorEmail">EMAIL</label>
        <input id="doctorEmail" type="email" name="email" class="form-control shadow-none" #email="ngModel" ngModel
            [ngClass]="{'is-valid': !email.invalid, 'is-invalid': email.invalid}" required />
    </div>
    <div class="col-md-2 py-2">
        <label for="doctorEstado">ESTADO</label>
        <input id="doctorEstado" type="text" name="estado" class="form-control shadow-none" #estado="ngModel" ngModel
            [ngClass]="{'is-valid': !estado.invalid, 'is-invalid': estado.invalid}" required />
    </div>
    <div class="col-md-2 py-2">
        <button type="submit" class="btn btn-primary" [disabled]="doctorForm.invalid">
            GUARDAR
        </button>
    </div>
</form>